/* -------------------------------- 

Custom style

-------------------------------- */
.h1,h1{font-size: 55px;}
.h2,h2{font-size: 40px;}
.h3,h3{font-size: 26px;}
.h4,h4{font-size: 18px;line-height: 1.4em;}
.h5,h5{font-size: 16px;}
.p,p{font-size: 14px;}
.small,small{font-size: 12px }
a,a:hover, a:active, a:focus{outline: 0;}
input::-moz-focus-inner { 
  border: 0; 
}
a:hover,a:focus{color: #f7941a;text-decoration: none;}

.btn{border-radius: 0px;}
.bg-white{background-color: #fff;}
.bg-orange{background-color: #f7941a;}
.text-black{color: #000;}
.text-white{color: #fff;}
.text-orange{color: #f7941a;}
.btn-orange{background-color: #F7941A;border:0px;}  
.icon-btn-link{
  width: 45px;  
  height: 45px;
  display: inline-block;
  background-size: auto 100%;
  background-image:url('../img/Programmer Needs-19.png');   
  background-repeat: no-repeat;
  position: relative;
  top: 1.2em;
  margin-top: -1.2em;
  margin-left: -3px;
}
.active.icon-btn-link{background-position: -47px 0px;}
.icon-btn-link-white{background-position: -141px 0px;}
.active .icon-btn-link-white{background-position:-47px 0px;}
.icon-video-play-link{ 
  width: 45px;
  height: 45px;
  display: inline-block;
  background-size: auto 100%;
  background-image:url('../img/Mobile_Video_Play_Button.png');   
  background-repeat: no-repeat;
  position: relative;
  top: 1.2em;
  margin-top: -1.2em;
  margin-left: -3px;
} 
.icon-video{
  width: 120px;
  height: 65px;
  display: inline-block;
  background-size: 100% auto;
  background-image:url('../img/Programmer Needs-16.png');   
  background-repeat: no-repeat;
  position: relative;
  top: 1.2em;
  margin-top: -1.2em;
  margin-left: -3px; 
}
.icon-video:hover{
  background-position:0px -69px;
}
h1 {margin-top:60px;}
.txtorange {color:#f7941a;}
.txtorange span {display:none;width:100px; border-bottom:1px solid #333; position:absolute; margin-left: -110px; margin-top: 20px;}
.txtwhite {color:#fff;}
.txtwhite span {width:100px; border-bottom:1px solid #fff; position:absolute; margin-left: -110px; margin-top: 20px;}
hr.whitehr {width:97%; border-bottom:1px solid #fff; border-left:0 none; border-right:0 none; border-top:0 none;}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.modal-dialog{margin: 15% auto;}
.modal-content{border-radius: 0px;border:0px;}
.modal-backdrop {
   background-color: #F7941A;
}
.modal-content .btn{   
    background-color: #F7941A; 
    width: 150px;
    border: 1px solid #f7941a;
    background: none;
    color: #f7941a;
    padding: 10px 30px;
    border-radius: 0;
  }

.modal-dialog.homevideo{
  margin: 5% auto;
}
.modal.in .modal-dialog.homevideo{
  padding: 0px;
  width: 100%;
}
.modal.in .modal-dialog.homevideo .modal-header{
  border:0px;
}
.cd-section .main h2 {
	color:#231f20;
}

.cd-search {
	border:1px solid #eff2f6;
	height:35px;
}
.cd-search input {
	background:none;
	border: 0;
	padding:10px; 
	width:60%;
	float:left;
}
.cd-search button {
	background:url(../img/Images-16.png) right no-repeat;
	display:inline-block;
	float:right;
	border:0 none;
	cursor:pointer;
	padding:10px;
}
.cd-search button span {
	display:block;
	text-indent:-10000px;
	height:15px;
	width:15px;
}

.cd-social {width:100%; margin-top:10px;margin-bottom: 8px;padding-bottom: 10px; border-bottom:1px solid #eff2f6;}
.cd-social ul {
	margin:0 auto;
	overflow:hidden;
} 
.cd-social a {
	text-indent:10000px;
	display:block;
	width:30px;
  height:30px;
	border: 0 none !important;
}
.cd-social .cd-scfb {
  background:url(../img/Images-13.svg) no-repeat 0 0;
}
.cd-social .cd-scin {
  background:url(../img/Images-15.svg) no-repeat 0 0;
}
.cd-social .cd-scyt {
  background:url(../img/Images-14.svg) no-repeat 0 0;
}
.cd-social .cd-scyt:hover ,.cd-social .cd-scin:hover ,.cd-social .cd-scfb:hover {
  background-position-y: -31px;
}

.mob-hide {display:inline;}
.mob-visible {display:none;}

/*---------------- Home -----------------*/
.home-dna{max-width: 868px;}
#section0,
#section1,
#section2,
#section3,
#section4,
#section5,
#section6,{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* Defining each sectino background and styles 
* --------------------------------------- */
#section0{
    background: #efefef; 
}
#section1{
    background: #f7941e;  
}
#section2{
    background: #eee80a; 
}
#section3{
    background: #f04e58; 
}
#section4{
    background: #8f53a1; 
}
#section5{
    background: #27bdbe; 
}
#section6{
    background: #45b97c; 
}
#section3 h1{
    color: #000;
}
#fullpage .row{padding-top: 8px;padding-bottom: 8px;    margin: -3%;
    background: url(../img/transBG.png) repeat;  
    clear: both;}
#fullpage .content-wrapper{ 
	position: relative;
	padding: 10px;
	height: 100%; 
	color: #ffffff;
  margin-top: 10%;
}
#fullpage .content-wrapper .row{padding: 0px 8px 12px 5px;} 
#fullpage .content-wrapper .row h3{ margin: 20px 0px 0px 0px;}
#fullpage .content-wrapper .row p{ margin-bottom: 7px;text-align: justify;line-height: 1.3em;}
.content-wrapper__fixed{ 
	position: fixed;
	margin: 1.3%;
	width: 100%;
	height: 95.3%;
	background: url(../img/transBG.png) repeat; 
	z-index: 1;
	color: #ffffff;
	display: none;
}  

#section0 .fp-tableCell ul li {
	padding-top:20px;
	text-align:left;
}
.maincol-right {float:right;display: table;height: 0%;}
.maincol-left {}
.mas-1 {height:100%;}

/* solution page*/
.container-fluid.sol{height:100%;} 
.container-fluid.sol > .row{height: 100%;}
.container-fluid.sol > .row > div{min-height: 252px;}
.sol .contbox .layer > img{margin: 0 auto;}
.sol p, .cre p{
	margin-bottom: 0px;
}
.sol .sol-box{
	padding: 0;
}
  
.sol .contbox {position: relative;min-height: 247px;}
.sol .contbox ul {margin-bottom:0; margin-right:30px;}
.sol .greybox, .cre .greybox {
	display: none;
	width: 92.1%;
  height: 89.5%;
	position: absolute;
	/*background:url(../img/transBG_box.png) repeat;*/
	z-index:1;
	opacity: 0.5;
    margin: 3.9%; 
    background-color: #000;
} 
.sol-1 {background:#eee80a url(../img/Images-36.png); background-position:right;}
.sol-2 {background:#1f9ea0 url(../img/Images-36.png); background-position:right;}
.sol-3 {background:#c63f48 url(../img/Images-36.png); background-position:right;}
.sol-4 {background:#F7941E url(../img/Images-36.png); background-position:right;}
.sol-5 {background:#45B97C url(../img/Images-36.png); background-position:right;}
.sol-6 {background:#8F53A1 url(../img/Images-36.png); background-position:right;}
.sol-7 {background:#8F53A1 url(../img/Images-36.png); background-position:right;}
.sol-8 {background:#eee80a url(../img/Images-36.png); background-position:right;}
.sol-9 {background:#1f9ea0 url(../img/Images-36.png); background-position:right;}

.panel-body.overlap { 
	position: absolute; 
    left: 0;
    right: 0;
    padding: 5% 5% 0 3%;
    margin:  -25% 0px 0px 0px; 

}
.panel-body.overlap p {
	z-index:1;
	position:relative;
	color:#fff; 
  padding-left: 5px;
}
.panel-title { float:left; font-size:18px;padding-right: 0px;}
.panel-title-desc {padding-left:2%; padding-right:10px; float:left; font-size:12px;}

/*credential page*/ 
.cre-box{cursor: pointer;padding: 0px;} 
.cre .panel-body.overlap {margin: -25% 0px 0px 0px;}
.sol .panel-body.overlap {margin: 0px auto;width: 80%;position: absolute;top: 35%;}
.container-fluid.cre{background:#A9A6A6;} 	
.container-fluid.cre .panel-body.overlap{position: absolute;top: 40%;width: 100%;margin: 0px}
.container-fluid.cre > .row{height: 100%;}
.container-fluid.cre > .row > div{min-height: 262px;}
.cre-1, .cre-2, .cre-3, .cre-4, .cre-5, .cre-6, .cre-7, .cre-8 {
	cursor:pointer;}
.cre-1 {background:url(../img/Credential%20Thumbnail/Hairdepot_Thumbnail_Background.jpg);}
.cre-2 {background:url(../img/Credential%20Thumbnail/Greenology_Thumbnail_Background.jpg);}
.cre-3 {background:url(../img/Credential%20Thumbnail/PLT_Website_Thumbnail_Background.jpg);}
.cre-4 {background:url(../img/Credential%20Thumbnail/PLT_Website_Thumbnail_Background.jpg);}
.cre-5 {background:url(../img/Credential%20Thumbnail/HairMilk_Thumbnail_Background.jpg);}
.cre-6 {background:url(../img/Credential%20Thumbnail/Hairdepot_Thumbnail_Background.jpg);}
.cre-7 {background:url(../img/Credential%20Thumbnail/HairMilk_Thumbnail_Background.jpg);}
.cre-8 {background:url(../img/Credential%20Thumbnail/PLT_Website_Thumbnail_Background.jpg);} 
.cre .panel-title {text-align:center;width: 100%;}
.cre .contbox {position: relative;;min-height: 260px;}
.sol .contbox ul,.cre .contbox ul {margin: 0px;padding: 0px; }

.credential .blankbox{width: 100%;margin-bottom: -1px;}
.credential .whitebg {background-color:#ffffff ; }
.credential .box{bottom:0px; margin-bottom:1.3%; color:#fff;     margin-top: -85px;}
.credential .box-content{padding:10px 20px;
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=85);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
  filter:alpha(opacity=85);}
.credential .box-bg{position: absolute;width: 98.7%;height: 100%;}
.credential .cre-of1 {position:absolute; bottom:0; right:0; z-index:2;}
.credential .desctitle { font-size:14px; font-weight:bold;}
.credential .box-content h3 {margin-top:0px; margin-bottom:18px;}
.credential .box-content p {margin-bottom:5px;}
.credential .col-ppl .photo {margin-bottom:10px; text-align:center;}
.credential .col-ppl p {text-align:center; font-size:12px;}
.credential .crecol-1 {padding-left:0;}
.credential .crecol-1,.credential .crecol-2{text-align: justify;}
.cre .scene{left:-5%;}
.cre .comingsoon {}

  .sol .hidden-text, .cre .hidden-text{
    display: none;
  }

.project-block-content > .row{background-color: #fff;}
.slick-dots{bottom: 0px;}
.slick-dots li button:before{font-size: 11px;}
.slick-slider{margin-bottom: 0px}
.slick-arrow{width: 44px;height: 44px;}
.slick-prev-wrapper{cursor:pointer;position: absolute;right: 6%;top: 60%;z-index: 5}
.slick-next-wrapper{cursor:pointer;position: absolute;right: 6%;top: 31%;z-index: 5}

.container-fluid.process{margin: 4.5%;background-color: #eee;padding-top: 80px;}
.process-flow{padding: 0px;}
.process .flow {background:url(../img/processBG.svg) no-repeat center; padding:40px 0 130px 0px; margin:40px 0; color:#333;}
.process .flow .left {float: right;display: block; height:106px; margin-right:50%; background:url(../img/processflowL.svg) no-repeat right;margin-left: -4.6%;}
.process .flow .right {clear:both;width:55%; height:106px; margin-left:49.6%; background:url(../img/processflowR.svg) no-repeat left;}
.process .flow .box  {width: 507px; padding:12px 70px 22px 110px; position:relative;}
.process .flow .left .box {padding :22px 70px 22px 70px;}
/*.process .flow .right .box {float:left;}*/
.process .flow .left .box span {color: #f7941a; font-size:25px; position: absolute; right: 50px; bottom: 0px;}
.process .flow .right .box span {color: #f7941a; font-size:25px; position: absolute; left: 50px; bottom: 0px;}

.container-fluid.aboutus{margin: 4.5%;background-color: #eee;padding-top: 80px;}
.aboutus .tagline {color:#f7941a; font-size:55px;}
.aboutus .sub-tagline {color:#fff; font-size:20px; margin-bottom:50px;font-weight: lighter;}
.aboutus .about-img1 {position:absolute; bottom:0; right:0; z-index:2;}
.aboutus .about-txt {margin-top :50px; margin-bottom:80px;}
.aboutus .about-txt h4 {color:#f7941a; font-size:18px; margin-top:20px;}
.aboutus .about-img2 {height:253px; display:block; background:url(../img/Images-08-1.png) no-repeat center center; clear:both;}
.aboutus .about-img3 {clear:both; text-align:center;}
.aboutus .about-369 {margin:50px 0 0; padding-bottom:100px; background:url(../img/Images-40.png) no-repeat bottom center; background-size: 100%;}
.aboutus .about-369 .about-369txt {margin-top:20px; font-size:12px; line-height:20px;}
.aboutus .about-369 .about-369img {margin-top:50px;}
.aboutus .about-369 .about-369img img {max-width: 150px;}
.aboutus .about-369 .col-xs-6 {width:100%;}
.aboutus .about-369heading img{max-width: 131px;}
.aboutus .team,{background:#f7941a;}
.aboutus .team .profilepic img {width:100%;}
.aboutus .team .profilepic {margin-top:30px;}
.aboutus .team .profilename {color:#fff; margin:20px 0;}
.aboutus .team .profiledesc {margin-bottom:30px;}
.aboutus .career .job {overflow:hidden; margin-bottom: 30px; margin-top:10px;}
.aboutus .career .job button {border: 1px solid #fff; background: none; color: #fff; padding: 10px 20px; border-radius: 0; float:right;}

.container-fluid.contactus{margin: 4.5%;background-color: #eee;padding-top: 80px;}
.contactus .contactdetails {background:#FFF; padding:40px 0; font-size:12px;} 
.contactus ul { list-style:none; padding:0; overflow:hidden;}
.contactus li {text-indent:30px;}
.contactus-icon {width:20px; height:20px; display:inline-block; margin-right:10px;}  
.contactus .active .form-control{border-color: #f7941a;}
.contactus .active .cont-msg,.contactus .active .cont-name,.contactus .active .cont-mail,.contactus .active .cont-contact,.contactus .active .cont-title{background-position-x: -40px;}
.contactus .form-control {font-size:16px;background:none; border-radius:0; box-shadow:none; border-width: 0 0 1px 0; border-bottom:1px solid #333; padding-left:45px; height:45px;   margin-bottom: 20px;}
.contactus  textarea {width:100%; min-height:180px; border:1px solid #333; background:none; margin-bottom:20px;}
.contactus .active textarea{border:1px solid #f7941a;outline:transparent;}
.contactus label {visibility:hidden;margin-top: 0px;margin-bottom: 18px;}
.contactus label.unhide {visibility:visible; padding-left:45px;}
.icon,.contactus .icon {width:30px; height:30px; display:block; position:absolute;}
.contactus .cont-name {background:url(../img/Images-19.svg) no-repeat 0px 0px;}
.contactus .cont-mail {background:url(../img/Images-19.svg) no-repeat 0px -40px;}
.contactus .cont-contact {background:url(../img/Images-19.svg) no-repeat 0px -80px;}
.contactus .cont-title {background:url(../img/Images-19.svg) no-repeat 0px -120px;}
.contactus .cont-msg {background:url(../img/Images-19.svg) no-repeat 0px -160px;}
.contactus button {width:150px; border: 1px solid #f7941a; background: none; color:#f7941a; padding:10px 30px; border-radius:0; margin-bottom:20px;}

/* Icon */
.contactus .list-with-icon{text-indent: 26px;line-height: 1.4em;}
.icon.phone, .contactus .phone {background:url(../img/Images-19.svg) no-repeat 0px -206px;width: 30px;height: 30px;}
.icon.mail,.contactus .mail {background:url(../img/Images-19.svg) no-repeat 0px -280px;width: 30px;height: 30px;}
.contactus .fax {background:url(../img/Images-19.svg) no-repeat 0px -245px;width: 30px;height: 30px;}
.contactus .handphone {background:url(../img/Images-19.svg) no-repeat 0px -325px;width: 30px;height: 30px;}
.icon.mail-white{background-position:-50px -279px}
.icon.phone-white{background-position:-50px -201px;}

.scene.mascott{position:relative;left: -27%;vertical-align: middle;display: table-cell;}
.scene.mascott.purple{top: 11%;}

.scene.mascott .layer > div{ 
	width: 1280px;
	height: 760px;   
} 
.scene.mascott .layer > img{ 
	max-height: 760px;
	max-width: 1280px;
}
/* *
 * 
 * mascott
 *
 * */
/*orange*/
#orangemascott{
	background: transparent url('../img/Mascott/Orange/Orange_Mascot-Animation_A.png') 0 0 no-repeat; 
} 
#light{
	background: transparent url('../img/Mascott/Orange/Orange_Mascot-Animation_C.png') 0 0 no-repeat; 
} 

/*yellow*/ 
#yellowmascott{
	background: transparent url('../img/Mascott/Yellow/Yellow_Mascot-Animation_A.png') 0 0 no-repeat; 
} 

/*red*/
#redmascott{
	background: transparent url('../img/Mascott/Red/Red_Mascot-Animation_A.png') 0 0 no-repeat; 
} 
#knife{
	background: transparent url('../img/Mascott/Red/Red_Mascot-Animation_C.png') 0 0 no-repeat; 
}

/*blue*/ 
#bluemascott{
	background: transparent url('../img/Mascott/Blue/10_Frames/Blue_Mascot-Animation_A.png') 0 0 no-repeat; 
} 
#blink{
	background: transparent url('../img/Mascott/Blue/10_Frames/Blue_Mascot-Animation_B.png') 0 0 no-repeat; 
}
/*purple*/ 
/*green*/
#greenmascott{
	background: transparent url('../img/Mascott/Green/Green_Mascot-Animation_A.png') 0 0 no-repeat; 
} 
#bird{
	background: transparent url('../img/Mascott/Green/Green_Mascot-Animation_C.png') 0 0 no-repeat; 
}


/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-background-wrapper { 
  position: relative;
  overflow: hidden;
}
.no-touch .cd-background-wrapper {
  -webkit-perspective: 4000px;
  -moz-perspective: 4000px;
  perspective: 4000px;
}
.cd-background-wrapper::before {
  /* never visible - this is used in jQuery to check the device type */
  content: 'web';
  display: none;
}
.touch .cd-background-wrapper::before {
  /* never visible - this is used in jQuery to check the device type */
  content: 'mobile';
}

.cd-floating-background {
  position: relative;
}
.cd-floating-background img {
  display: block;
  width: 110%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.01);
  margin-left: 0 auto%;
}
.cd-floating-background img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.no-touch .cd-floating-background {
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.no-touch .cd-floating-background.is-absolute {
  position: absolute;
}
.no-touch .cd-floating-background img:first-child {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
}
.no-touch .cd-floating-background img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -moz-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  -o-transform: translateZ(290px);
  transform: translateZ(290px);
}
.no-touch .cd-floating-background img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -moz-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  -o-transform: translateZ(400px);
  transform: translateZ(400px);
}
.no-touch.no-preserve-3d .cd-floating-background {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}

.smart-transition{
  -webkit-transition: width  0.5s, height  0.5s, background-color  0.5s, -webkit-transform  0.5s;
  -moz-transition: width  0.5s, height  0.5s, background-color  0.5s, -moz-transform  0.5s;
  -o-transition: width  0.5s, height  0.5s, background-color  0.5s, -o-transform  0.5s;
  -ms-transition: width  0.5s, height  0.5s, background-color  0.5s, -ms-transform  0.5s;
  transition: width 0.5s, height  0.5s, background-color  0.5s, transform  0.5s;
}
.arrow{position: absolute; transform-style: flat; backface-visibility: hidden;width: 24px; height: 11px; pointer-events: none;}
.arrow-left{
  transform: translate3d(10px, 18px, 0px) rotate(-90deg); 
  -webkit-transform: translate3d(10px, 18px, 0px) rotate(-90deg); 
  -moz-transform: translate3d(10px, 18px, 0px) rotate(-90deg); 
  -o-transform: translate3d(10px, 18px, 0px) rotate(-90deg); 
  -ms-transform: translate3d(10px, 18px, 0px) rotate(-90deg); 
}
.arrow-right{
  transform: translate3d(10px, 18px, 0px) rotate(90deg); 
  -webkit-transform: translate3d(10px, 18px, 0px) rotate(90deg); 
  -moz-transform: translate3d(10px, 18px, 0px) rotate(90deg); 
  -o-transform: translate3d(10px, 18px, 0px) rotate(90deg); 
  -ms-transform: translate3d(10px, 18px, 0px) rotate(90deg); 
}
.arrow-down{
  transform: translate3d(11px, 18px, 0px) rotate(180deg);
  -webkit-transform: translate3d(11px, 18px, 0px) rotate(180deg);
  -moz-transform: translate3d(11px, 18px, 0px) rotate(180deg);
  -o-transform: translate3d(11px, 18px, 0px) rotate(180deg);
  -ms-transform: translate3d(11px, 18px, 0px) rotate(180deg);
}
.arrow-bar-1 { 
  transform: translate3d(-1px, 5px, 0px) rotate(-45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -webkit-transform: translate3d(-1px, 5px, 0px) rotate(-45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -moz-transform: translate3d(-1px, 5px, 0px) rotate(-45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -o-transform: translate3d(-1px, 5px, 0px) rotate(-45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -ms-transform: translate3d(-1px, 5px, 0px) rotate(-45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  transform: translate3d(-1px, 5px, 0px) rotate(-45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
}
.arrow-bar-2{
  transform: translate3d(10px, 4px, 0px) rotate(45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -webkit-transform: translate3d(10px, 4px, 0px) rotate(45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -moz-transform: translate3d(10px, 4px, 0px) rotate(45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -o-transform: translate3d(10px, 4px, 0px) rotate(45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
  -ms-transform: translate3d(10px, 4px, 0px) rotate(45deg); width: 15px; height: 1px; background-color: rgb(0, 0, 0);
}
.smart-object:hover .arrow-bar-1{
  transform: translate3d(-2px, 5px, 0px) rotate(-35deg);
  -webkit-transform: translate3d(-2px, 5px, 0px) rotate(-35deg);
  -moz-transform: translate3d(-2px, 5px, 0px) rotate(-35deg);
  -o-transform: translate3d(-2px, 5px, 0px) rotate(-35deg);
  -mstransform: translate3d(-2px, 5px, 0px) rotate(-35deg);
}
.smart-object:hover .arrow-bar-2{ 
  transform: translate3d(11px, 4px, 0px) rotate(35deg);
  -webkit-transform: translate3d(11px, 4px, 0px) rotate(35deg);
  -moz-transform: translate3d(11px, 4px, 0px) rotate(35deg);
  -o-transform: translate3d(11px, 4px, 0px) rotate(35deg);
  -mstransform: translate3d(11px, 4px, 0px) rotate(35deg);
} 
.cd-vertical-nav {top: 50%;}
.btn-back{    position: fixed;
    top: 40px;
    left: 100px;
    width: 44px;
    height: 44px;
    background: white;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 10;}
.mascott{ visibility: hidden; }.animated { visibility: visible !important; }
.home-content{height: 100%;position: relative;}
.home-content > .row{position: absolute;bottom: 15%;width: 100%;}
.brandImage{
    position: relative;
    transform-style: flat;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    background-size: cover;
    background-position: 50% 0%;
    width: 100%;
    height: 515px;
} 
.cre-info{padding: 0px 4.8%;}
.modal.in .modal-dialog{padding: 3%;}
.extra-info-box{background-color:#c5c4c4;padding:1.1%;}
.extra-info-box.even{background-color: #A9A6A6;}
.extra-info-box__wrapper{background-color: #404b54;height: 100%;}
.extra-info-box__info{position:absolute;right:10%;bottom:0;padding-bottom:10%;}
.project-mascott{display: none;}
.back-to-top{position: fixed !important;bottom: 60px;right: 11% !important;} 

.play-button-wrapper{width: 34px;height: 34px;margin: 10px;}
.video-block .greybox{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/transBG_box.png) repeat;
    z-index: 1;
    opacity: 0.5; 
    background-color: #000;
    z-index: 2;}
.video-block:hover .greybox{ 
    display: block;
}
.video-block:hover .greybox.playing, .greybox.playing{
  display: none;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
}
.videoWrapper .arrow-right.arrow {
     position: relative; 
     left: -3px; 
     top: -5px; 
}
.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-btn {
    position: absolute;
    top: 40%;
    left: 46%; 
    height: 54px;
    width: 54px;
    z-index: 5;
} 
@media (min-width:769px){ 
  #cd-main-nav{ 
    overflow: hidden;
    height: 97.6%; 
    left: 1.3%;
  }
}
@media (min-width:768px){    
.modal.in .modal-dialog.homevideo{ 
  width: 630px;
} 
.slick-next-wrapper{top: 37%;}
.play-button-wrapper{    
    width: 68px;
    height: 70px;
    margin: 15px;
  } 
.video-btn { 
    height: 100px;
    width: 100px;
}
.videoWrapper .arrow-right.arrow{
    height: 40px;
     left: 0; 
     top: 0; 
}
.videoWrapper .arrow-right.arrow .arrow-bar-1{
    left: -10px;
    position: relative;
}
.videoWrapper .arrow-right.arrow .arrow-bar-2{
    right: 3px;
    position: relative;
}
.videoWrapper .arrow-right.arrow .arrow-bar-1,
.videoWrapper .arrow-right.arrow .arrow-bar-2{
        width: 25px;
}
.process .flow .left .box span {bottom: 0px;}
.process .flow .right .box span {bottom: 0px;}
  .project-mascott{display: block;width: 60%;float: right;}
  .back-to-top{position: fixed !important;bottom: 100px;right: 6% !important;}
  .credential .box{margin-top: -120px;} 
  .scene.mascott.purple{left: -35%;} 
  .scene.mascott.blue{left: -35%;} 
  .scene.mascott.green{left: -35%;}
  .scene.mascott.yellow{left: -35%;} 
  .container-fluid.aboutus,.container-fluid.contactus,.container-fluid.process{margin: 1.3%;}
  #cd-main-nav {overflow: hidden;}
  .cre-info{padding: 0px 1.3%;}
  .txtorange span{display: block;}
  .slick-prev-wrapper{top: 47%;} 
  .scene.mascott{left: -20%;}
  .panel-body.overlap p{
    padding-left:15px;
    bottom: 10%; 
  } 
  .cre .panel-title {
      text-align: center;
  } 
  .content-section{display: none;}
  .cd-vertical-nav {  
  	top: 50%; 
  } 
	.content-wrapper__fixed{  
		width: 50%; 
		display: block;
	}
	#fullpage .content-wrapper{ 
		background: none;
	} 
}

@media (min-width:992px){ 
 .process .flow .box  {height: 106px;
    vertical-align: middle;
    display: table-cell;}
  .project-mascott{width: 70%;}
  .sol .sol-box:hover .greybox,.sol .sol-box:hover .hidden-text, .cre .cre-box:hover .greybox,.cre .cre-box:hover .hidden-text {
    display: block;
  }
  .extra-info-box{background-color:#c5c4c4;padding:2%;}
  .slick-prev-wrapper {
      top: 47%;
  }
  #cd-nav ul{margin: 15% auto 0px}
  .scene.mascott{left: -24%;}
	.section .col-md-6{height: 0%;padding:5px 10px;} 
	#fullpage .content-wrapper > .content-section{  
	  	position:  absolute;
	    width: 96%;
	  	bottom: 18%; 
	}
	.credential .box-content{ 
		min-height: 490px;
		padding-top: 50px;
    	padding-bottom: 125px;
	}
  	.cd-vertical-nav {  
    	top: 50%;
  	} 

	/* Defining each sectino background and styles 
	* --------------------------------------- */
	#section0{
	    background: #efefef url("../img/Programmer Needs-08.png") no-repeat center center;
	    background-size: 100% auto; 
	}  
  #section0.en{
      background: #efefef url("../img/Programmer Needs-10.png") no-repeat center center;
      background-size: 100% auto; 
  }
	#section1{
	    background: #F37022 url("../img/Color Background-01.jpg") no-repeat center center;
	    background-size: auto 100%;  
	}
	#section2{
	    background: #FFCA08 url("../img/Color Background-02.jpg") no-repeat center center;
	    background-size: auto 100%; 
	}
	#section3{
	    background: #EF3F3F url("../img/Color Background-03.jpg") no-repeat center center;
	    background-size: auto 100%; 
	}
	#section4{
	    background: #8F52A0 url("../img/Color Background-04.jpg") no-repeat center center;
	    background-size: auto 100%; 
	}
	#section5{
	    background: #1FBDBE url("../img/Color Background-05.jpg") no-repeat center center; 
	    background-size: auto 100%;
	}
	#section6{
	    background: #42BA7C url("../img/Color Background-06.jpg") no-repeat center center;
	    background-size: auto 100%; 
	}
}
@media (min-width:1200px){ 
  .extra-info-box{background-color:#c5c4c4;padding:1.1%;}  
}

@media (min-width:1800px){  
	.panel-title {font-size:25px;}
	.panel-title-desc {font-size:16px;} 
  .social-block{position: absolute;bottom: 5%;width: 70%;}
  .slick-next-wrapper{top:38%;}
}

@media (max-width:1024px){
	.process .flow {margin:40px -75px;}  
}

@media (max-width:768px){
  .maincol-left {
      position: absolute;
      bottom: 3%;
  }
  .maincol-right { 
    position: absolute;
    top: 9%;
    width: 100%;
  }
  #fullpage #section0 .content-wrapper{margin-top: -5%;}
  .project-client-name,.project-name{padding-top: 20px;}
  .crecol-2{padding-top: 50px;}
	img.mas-1 {height:auto;}
	#cd-main-nav .inner {padding: 15px 15%; }
	/*.maincol-right {float:none;}*/
	.maincol-left {width: 100%;}
	.credential .blankbox {height:auto;}
	.mob-hide{display:none;}
	.mob-visible {display:inline;}
	/*.maincol-right img  {max-width:90%;}*/
	.cre ul.scene, .sol ul.scene {margin-bottom:0;}
	.credential .box{position:inherit;bottom:0px; margin-bottom:0px; padding-bottom:20px;}
	.credential .box-bg {width:100%;}
	.credential .cre-info { float: left;} 
	.credential .cre-info .crecol-2 {padding-left:0; }
	.credential .col-ppl .photo img {max-width:240px;}
	h1 {margin-top:80px;}
	.aboutus .tagline {font-size:30px;}
	.aboutus .team .profilepic {text-align:center;}
	.aboutus .team .profilepic img {max-width:240px;}
	.aboutus .team .profilename {text-align:center;}
	.aboutus .about-369 .col-xs-6 {width:50%;padding-top: 20px;margin-bottom: 25px;}
	.aboutus .about-369 .about-369img {margin-top:0;padding: 0px;}
	.aboutus .about-369 .col-sm-4 {margin-top:30px;}
	.aboutus .about-369 .about-369txt {width:100%;padding: 0px;margin-left: 10%;}
	.panel-title-desc {border-left:0 none;}
	.contactus .col-sm-4 {padding-left:0px; padding-right:0px; margin-top:40px;}
  .process .flow .box{display: block;height: auto;} 
}
@media (max-width:992px){
.process-flow{overflow: hidden;}
  .process .flow {background:url(../img/progress-header.png) no-repeat top right; padding:30px 0; margin:40px -15px; color:#333;}
  .process .flow .left, .process .flow .right { background:url(../img/progress-side.png) repeat-y right; margin-right: 0; margin-left:0; width: 100%; height:auto;}
  .process .flow .box  {width:auto; background:url(../img/progress-flow.png) no-repeat right bottom; padding:10px 80px 40px 40px !important; position:relative;clear: both;width: 100%;}
  .process .flow .left .box span, .process .flow .right .box span {color: #f7941a; font-size:18px; position: absolute; right: 41px; left:inherit; line-height: 1.5em;}
  }
@media (max-width:500px){
 .modal-dialog.homevideo{width: 100%;}
}
@media (min-width:500px) and (max-width: 892px){
  .scene.mascott{
    left: 0px;
  } 
  .scene.mascott .layer > img{
    width: 100% !important;
  } 
}
